<div class="panel-heading">
    Datapath ID: {{switch.dpid}}
</div>
<ul class="list-group">
    <li class="list-group-item">Manufacturer description: {{desc.mfr_desc}}</li>
    <li class="list-group-item">Hardware description: {{desc.hw_desc}}</li>
    <li class="list-group-item">Software description: {{desc.sw_desc}}</li>
    <li class="list-group-item">Serial number: {{desc.serial_num}}</li>
    <li class="list-group-item">Human readable description of datapath: {{desc.dp_desc}}</li>
</ul>
